@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mouse memoirs', sans-serif;
}
html{
    font-size: 16px;
}
body{
    width: 100%;
    padding-bottom: 0;
    background-color: var(--primary-color);
}
a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}
.bounce{
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.bounce:hover{
    background-color: #4780e2;
    transform: translateY(-5px);
}
@keyframes bounce {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.125);
    }
    100%{
        transform: scale(1);
    }
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.home-container, .playground-container, .category-container{
    padding: var(--sm-padding);
}
:root{
    --primary-color : #151278;
    --secondary-color : #2158B6;
    --sm-padding : 1rem;
    --md-padding: 1.5rem 2.5rem;
}

@media (min-width : 540px) {
    .home-container, .playground-container, .category-container{
        padding: var(--md-padding);
    }
    html{
        font-size: 18px;
    }
}
@media (min-width : 768px) {
    html{
        font-size: 19px;
    }
}